.partner {
  .partner-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .partner-list {
    border: 1px solid $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    cursor: pointer;
    border-radius: 2px;
    h3 {
      margin-top: 20px;
    }
  }
  margin-top: 100px;
  h2 {
    text-align: center;
    font-size: 2.625rem;
    font-weight: bold;
  }
}
