@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap");
.member-left {
  position: relative;

  .member-left-info {
    background-color: #6344c6;
    width: 241px;
    height: 241px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -100px;
    right: 65px;
    border: 15px solid #f8f9fa;
    border-top-right-radius: 100px;
    h3 {
      font-size: 2.625rem;
      font-weight: bold;
    }
    p {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
.member-right {
  h2 {
    font-weight: bold;
    font-size: 2.5rem;
    span {
      color: $main;
    }
  }
  p {
    color: $gray;
    font-size: 1.125rem;
    padding-right: 50px;
  }
  button {
    color: $main;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 18px 32px;
    border-radius: 8px;
    border-color: $main;
    border: 1px solid;
    background: none;
  }
  .member-list {
    p {
      font-weight: bold;
    }
    svg {
      font-size: 28px;
      font-weight: bold;
      margin-right: 10px;
    }
  }
  .member-counter {
    height: 100px;
    h4 {
      span {
        font-weight: 400;
        font-size: 3rem;
        font-family: "Grechen Fuemen", cursive !important;
      }
    }
    p {
      font-size: 1.125rem;
      padding: 0;
    }
    .member-counter-item {
      display: flex;
      flex-direction: column;

      align-items: center;
    }
  }
}
