.hero {
  margin-top: 8rem;
  @include media-breakpoint-down(lg) {
    margin-top: 3rem;
  }
  @include media-breakpoint-down(md) {
    margin-top: 2rem;
  }
  .hero-title {
    font-size: 4.5rem;
    font-weight: bold;
    @include media-breakpoint-down(lg) {
      font-size: 30px;
    }
    @include media-breakpoint-down(md) {
      font-size: 50px;
    }
    .creative {
      background-color: $main;
      color: $white;
      padding: 0px 0.5rem;
    }
    .solution {
      color: $main;
    }
  }
  .hero-p {
    font-size: 1.125rem;
    color: $gray;
    padding-right: 18%;
    margin-top: 1.5rem;
    @include media-breakpoint-down(lg) {
      padding-right: 0;
      margin-top: 1rem;
      font-size: 1rem;
    }
    @include media-breakpoint-down(md) {
      padding-right: 10%;
    }
  }

  .hero-buttons {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      font-size: 1.3rem;
      margin-left: 15px;
      cursor: pointer;
    }
    button {
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0.7rem 1.5rem;
      border-radius: 8px;
      border: none;
      background-color: $main;
      color: $white;
    }
    .work {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: inline-block;
      padding-left: 2.5rem;
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
  .social {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    display: flex;
    svg {
      cursor: pointer;
    }
    p {
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      margin-right: 10%;
      margin-bottom: 0;
    }
    .social-wrapper {
      display: flex;
      width: 6.375rem;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.hero-image {
  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    @include media-breakpoint-down(lg) {
      height: 350px !important;
      width: 350px !important;
      object-fit: cover;
    }
    @include media-breakpoint-down(md) {
      height: 250px !important;
      width: 250px !important;
      object-fit: cover;
    }
  }
}
