.slider-top {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    font-weight: bold;
    font-size: 2.625rem;
  }
  p {
    font-size: 1.125rem;
    width: 689px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.slider {
  justify-content: center;
  align-items: center;
  display: flex;
}
.slick-list {
  padding: 20px !important;
}
.slide-item {
  padding: 10px;
  background-color: #fff !important;
  .card-body {
    padding: 0;
    padding-top: 30px;
  }
  .slider-link {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0.625rem;
    cursor: pointer;
  }
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 1 !important;
  color: #0f0f0f !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-arrow {
  background-color: rgb(255, 255, 255) !important;
}
