.copyright {
  background-color: $main;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .copyrightwrapper {
    width: 400px;
  }
  .copyItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 0.875rem;
    cursor: pointer;
  }
}
